<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EveWindowManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EveWindowManager.Properties.Settings>
            <setting name="Height" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="BringToForegroundOnRestore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientSettingsFile" serializeAs="String">
                <value>clientSettings.json</value>
            </setting>
            <setting name="EveTitlebarPrefix" serializeAs="String">
                <value>EVE - </value>
            </setting>
            <setting name="AutoRefreshIntervalMs" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AutoRefreshEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRestoreClients" serializeAs="String">
                <value>False</value>
            </setting>
        </EveWindowManager.Properties.Settings>
    </userSettings>
</configuration>